streamlit
pandas
numpy==1.26.4
matplotlib
nltk
scikit-learn
seaborn
spacy==3.6.1
thinc==8.1.11
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.1/en_core_web_sm-3.6.1-py3-none-any.whl
